.header {
    height: 580px;
    background-image: url('../../assets/background.jpg'), linear-gradient(rgba(44, 52, 68), rgba(46, 53, 69));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 98%, 68% 100%, 35% 100%, 0 98%, 0% 43%, 0 0);

}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #f9f9f9;
}

.hero-section {
    margin: 70px 0px;
}

.hero-section .hero-text .title {
    color: #f9f9f9;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 2px;
}

.hero-section .hero-text .discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #f9f9f9;
}

.hero-section .hero-text .discription p span {
    font-weight: bolder;
}

.hero-section .hero-btn Button {
    font-weight: 600;
    font-size: 15px;
    height: 46px;
}

.hero-section .hero-btn Button:nth-child(2) {
    border: 1px solid #2E3545;
    background: #2C3444;
    color: #ffffff;
}

/* --Responsive-- */
/* Small devices (landscape phones, 576px and up) */

@media (max-width: 575.98px) {
      .header .container-fulid .hero-section .hero-text .discription p {
        display: none;
    }
    .header .container-fulid .hero-section {
        padding-top: 50px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992.1px) {
    .header .container-fulid .navbar-expand-lg .container .hamburger {
        display: none;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}