.clean-service .container{
    height: 100%;
    
}
.clean-service .container .row .col:nth-child(1) .title h3{
  font-size: 32px;
  font-weight: 700;
  color: #23273C;
  line-height: 40px;
  margin-bottom: 20px;
}
.clean-service .container .row .col:nth-child(1) .title p{
  font-size: 16px;
  font-weight: 400;
  color: #23273C;
  line-height: 24px;
  margin: 0;
}
.clean-service .container .row .col:nth-child(1) .services-icons button {
  display: flex;
  gap: 10px;
}
.clean-service .container .row .col:nth-child(1) .services-icons  button span {
  display: flex;
  align-items: center;
}
.clean-service .container .row .col:nth-child(1) .services-icons .left-btn button:nth-child(1) span{
  background-color: rgb(28, 247, 145);
  border-radius: 100%;
  height: 100%;
}
.clean-service .container .row .col:nth-child(1) .services-icons .left-btn button:nth-child(2) span{
  background-color: rgb(52, 104, 247);
  border-radius: 100%;
  height: 100%;
}
.clean-service .container .row .col:nth-child(1) .services-icons .right-btn button:nth-child(1) span{
  background-color: rgb(252, 122, 0);
  border-radius: 100%;
  height: 100%;
}
.clean-service .container .row .col:nth-child(1) .services-icons .right-btn button:nth-child(2) span{
  background-color: rgb(255, 217, 0);
  border-radius: 100%;
  height: 100%;
}